@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
/* Add your custom code here */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 200px rgba(255, 255, 255, 0);

    }
}

.ripple-animate {
    animation: ripple 1.6s infinite;
}

/* Add this to globals.css or your layout CSS file */

@keyframes waveSlide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-wave {
    animation: waveSlide 2.8s linear infinite;
}
